<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/iview.css" rel="stylesheet">
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/iview.min.js"></script>
 
</head>
<body>
       <%= title %>
       <div>123</div>
       <div id="app">
          <i-button @click="show">Click me!</i-button>
          <Modal v-model="visible" title="Welcome">Welcome to iView</Modal>
      </div>
       <script>
         console.log(123)
       </script>
       <script>
          new Vue({
              el: '#app',
              data: {
                  visible: false
              },
              methods: {
                  show: function () {
                      this.visible = true;
                  }
              }
          })
        </script>
</body>
</html>