<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pivotal Search</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <!-- styles -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<!--  <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">-->
<!--  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>-->
<!--  <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="stylesheets/iview.css">
  <script type="text/javascript" src="javascripts/vue.min.js"></script>
  <script type="text/javascript" src="javascripts/iview.min.js"></script>
  <script type="text/javascript" src="javascripts/axios.min.js"></script>
  <style>
    #input-all{
      width: 600px;
      height: 200px;
      border: 1px solid rebeccapurple;
      position: relative;
      margin: 0 auto;
      margin-top: 100px;
    }
    .input-form{
      padding-top: 20px;

    }
    .input-button{
      width: 100px;
      display:table;
      margin:0 auto;
      margin-top: 20px;
    }
  </style>
</head>

<body>

<!-- <div id="app" style="background-image: url(./images/bg.jpg);"> -->
<div id="app">
  <div id="ceil">
    <ul>
      <li style="float:left;padding-left: 30px"><a href="#about">关于</a></li>
      <!--        <li><a class="active" href="#home">主页</a></li>-->
      <li><i-button @click="register">注册</i-button></li>
      <li><i-button @click="login">登录</i-button></li>
      <!--        <li><a href="#contact">联系</a></li>-->
    </ul>
  </div>
  <div id="container">
    <Card :bordered="false">
      <div id="input-all">
        <i-form ref="formInline" :model="formInline" :rules="ruleInline" inline >
          <FormItem prop="user" >
            <i-input type="text" v-model="formInline.user" placeholder="Username" class="input-form">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
            </i-input>
          </FormItem>
          <FormItem prop="password" class="input-form">
            <i-input type="password" v-model="formInline.password" placeholder="Password" class="input-form">
              <Icon type="ios-lock-outline" slot="prepend"></Icon>
            </i-input>
          </FormItem>
          <FormItem>
            <i-button type="primary" @click="handleSubmit('formInline')" class="input-button">Signin</i-button>
          </FormItem>
        </i-form>
      </div>
    </Card>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data () {
      return {
        formInline: {
          user: '',
          password: ''
        },
        ruleInline: {
          user: [
            { required: true, message: 'Please fill in the user name', trigger: 'blur' }
          ],
          password: [
            { required: true, message: 'Please fill in the password.', trigger: 'blur' },
            //{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      login(){
        window.location.href = '/login'
      },
      register(){
        window.location.href = '/register'
      },
      handleSubmit(name) {
        var self = this;
        axios.post('/login', {
          user:self.formInline.user,
          password:self.formInline.password
        })
            .then(function (response) {
              let data = response.data;
              if(data.success === false){
                return self.$Message.error({
                  title: '提示',
                  content: data.errorMsg,
                });
              }
              self.$Message.success({
                title: '提示',
                content: '登录成功',
                onClose:()=>{
                  window.location.href = '/'
                }
              });
            })
            .catch(function (error) {
               self.$Message.error({
                title: '提示',
                content: error,
              });
            })
            .then(function () {
              // always executed
            });
      }
    }
  })
</script>
</body>

</html>
