<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pivotal Search</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
<!--  <link rel="stylesheet" type="text/css" href="stylesheets/iview.css">-->
<!--  <script type="text/javascript" src="javascripts/vue.min.js"></script>-->
<!--  <script type="text/javascript" src="javascripts/iview.min.js"></script>-->
  <script type="text/javascript" src="javascripts/axios.min.js"></script>
  <script type="text/javascript" src="javascripts/cookies.js"></script>

  <style>
    #table-container{
      min-width: 600px;
      max-width: 1200px;
      margin: 0 auto;
      /*border: 1px solid #0000ff;*/
      overflow：scroll;
    }
  </style>
</head>

<body>

<!-- <div id="app" style="background-image: url(./images/bg.jpg);"> -->
<div id="app">
  <div id="top">
    <div class="content">
      <div style="padding-top: 1px;">
        <table>
          <tbody>
          <tr>
            <td width="110" align="left">
              <a href="/" title="short-link">
                <div class="Logo"><img src="../../images/linkheader.png" alt=""></div>
              </a>
            </td>
            <td v-if="isLogin" width="900" align="right" style="padding-top: 2px;">
              <ul class="top-ul">
                <li class="top-li">
                  <i-button @click="logout">注销</i-button>
                </li>
                <li class="top-li">
                  <Dropdown>
                    <a href="javascript:void(0)" class="top-li-a">
                      头像
                      <Icon type="ios-arrow-down"></Icon>
                    </a>
                    <DropdownMenu slot="list">
                      <DropdownItem class="droplist" @click="myshortlink">我的短链接</DropdownItem>
                      <DropdownItem class="droplist" @click="personInfo">个人信息</DropdownItem>
                    </DropdownMenu>
                  </Dropdown>
                </li>
              </ul>
            </td>

            <td v-else width="900" align="right" style="padding-top: 2px;">
              <ul class="top-ul">
                <li class="top-li">
                  <i-button @click="register">注册</i-button>
                </li>
                <li class="top-li">
                  <i-button @click="login">登录</i-button>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="table-container">
    <i-table :columns="columns" :data="data">
      <template slot-scope="{ row, index }" slot="phid">
        <span>{{ row.phid }}</span>
      </template>

      <template slot-scope="{ row, index }" slot="long_link">
        <span>{{ row.long_link }}</span>
      </template>
      <!--      短链接自定义-->
      <template slot-scope="{ row, index }" slot="short_link" ellipsis="true">
        <Input type="text" v-model="editShortLink" v-if="editIndex === index"/>
        <span v-else>{{ row.short_link }}</span>
      </template>

      <template slot-scope="{ row, index }" slot="inserted_at">
        <span>{{ getTime(row.inserted_at) }}</span>
      </template>

      <template slot-scope="{ row, index }" slot="updated_at">
        <span>{{ getTime(row.updated_at) }}</span>
      </template>

      <template slot-scope="{ row, index }" slot="action">
        <div v-if="editIndex === index">
          <i-button @click="handleSave(index)">保存</i-button>
          <i-button @click="editIndex = -1">取消</i-button>
        </div>
        <div v-else>
          <i-button @click="handleEdit(row, index)">操作</i-button>
        </div>
      </template>
    </i-table>
    <Page :total="totalCount" show-total @on-change="changePage" :page-size="10"/>

  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        columns: [
          {
            title: 'phid',
            slot: 'phid'
          },
          {
            title: '原链接',
            slot: 'long_link',
            // ellipsis: true,
            minWidth:400,
            tooltip:true
            // tooltip: 'true'
          },
          {
            title: '短链接',
            slot: 'short_link'
          },
          {
            title: '生成时间',
            slot: 'inserted_at'
          },
          {
            title: '更新时间',
            slot: 'updated_at'
          },
          {
            title: '操作',
            slot: 'action'
          }
        ],
        data: [],
        editIndex: -1,  // 当前聚焦的输入框的行数
        editShortLink: '',  // 第一列输入框，当然聚焦的输入框的输入内容，与 data 分离避免重构的闪烁
        editPhid: '',
        totalCount: 0,//总条数
        currentPage: 1,//当前页
        isLogin: false,
      }
    },
    created() {
      //一进来就去看有没有cookie在本地
      this.checkCookies()
      this.getList()

    },
    methods: {
      myshortlink() {
        window.location.href = '/myshortlink'
      },
      personInfo() {
        window.location.href = '/users/' + this.userphid
      },
      logout() {
        docCookies.removeItem('connect.sid');
        docCookies.removeItem('user');
        window.location.href = '/'
      },
      checkCookies() {
        if (document.cookie.indexOf('connect.sid') > -1 && document.cookie.indexOf('user') > -1) {
          this.isLogin = true
          let userPhid = document.cookie.split(';')[0].split('=')[1]
          this.userphid = userPhid
        }
      },
      changePage(page) {
        this.currentPage = page
        this.getList()
        window.scroll(0, 0)
      },
      login() {
        window.location.href = '/login'
      },
      register() {
        window.location.href = '/register'
      },
      handleEdit(row, index) {
        this.editShortLink = row.short_link
        this.editPhid = row.phid
        this.editIndex = index
      },
      handleSave(index) {
        var self = this
        axios.post('/su/saveInfo', {
          phid: self.editPhid,
          short_link: self.editShortLink
        })
            .then(function (response) {
              let data = response.data
              if (data.success === false) {
                self.$Message.error({
                  title: '提示',
                  content: data.errorMsg,
                })

                return
              }
              self.$Message.success({
                title: '提示',
                content: '更新成功',
              })
              self.data[index].short_link = self.editShortLink
              self.data[index].updated_at = data.time
              self.editIndex = -1

            })
            .catch(function (error) {
              self.$Message.error({
                title: '提示',
                content: error,
              })
              return
            })
            .then(function () {
              // always executed
            })


      },
      getTime(time) {
        const date = new Date(parseInt(time))
        const Y = date.getFullYear() + '-'
        const M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-'
        const D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate() ) + ' '
        const h = date.getHours() + ':'
        const m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':'
        const s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds())
        return Y + M + D + h + m + s
      },
      getList() {
        let self = this
        axios.get('/su/getList?currentPage=' + self.currentPage)
            .then(function (response) {
              let data = response.data
              self.data = data.data
              self.totalCount = data.count

            })
            .catch(function (error) {
              console.log(error)
            })
            .then(function () {
              // always executed
            })
      }
    }
  })
</script>
</body>

</html>
