<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pivotal Search</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <!-- styles -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <!--  <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">-->
  <!--  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>-->
  <!--  <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="stylesheets/iview.css">
  <script type="text/javascript" src="javascripts/vue.min.js"></script>
  <script type="text/javascript" src="javascripts/iview.min.js"></script>
  <script type="text/javascript" src="javascripts/axios.min.js"></script>
  <script type="text/javascript" src="javascripts/cookies.js"></script>

  <style>
    #input-all {
      width: 600px;
      height: 250px;
      border: 1px solid rebeccapurple;
      position: relative;
      margin: 0 auto;
      margin-top: 100px;
    }

    .input-form {
      padding-top: 20px;

    }

    .input-button {
      width: 100px;
      display: table;
      margin: 0 auto;
      margin-top: 20px;
    }
  </style>
</head>

<body>

<!-- <div id="app" style="background-image: url(./images/bg.jpg);"> -->
<div id="app">
  <div id="top">
    <div class="content">
      <div style="padding-top: 1px;">
        <table>
          <tbody>
          <tr>
            <td width="110" align="left">
              <a href="/" title="short-link">
                <div class="Logo"><img src="../../images/linkheader.png" alt=""></div>
              </a>
            </td>
            <td v-if="isLogin" width="900" align="right" style="padding-top: 2px;">
              <ul class="top-ul">
                <li class="top-li">
                  <i-button @click="logout">注销</i-button>
                </li>
                <li class="top-li">
                  <Dropdown>
                    <a href="javascript:void(0)" class="top-li-a">
                      头像
                      <Icon type="ios-arrow-down"></Icon>
                    </a>
                    <DropdownMenu slot="list">
                      <DropdownItem class="droplist" @click="myshortlink">我的短链接</DropdownItem>
                      <DropdownItem class="droplist" @click="personInfo">个人信息</DropdownItem>
                    </DropdownMenu>
                  </Dropdown>
                </li>
              </ul>
            </td>

            <td v-else width="900" align="right" style="padding-top: 2px;">
              <ul class="top-ul">
                <li class="top-li">
                  <i-button @click="register">注册</i-button>
                </li>
                <li class="top-li">
                  <i-button @click="login">登录</i-button>
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="container">
    <Card :bordered="false">
      <div id="input-all">
        <i-form ref="formInline" :model="formInline" :rules="ruleInline" inline>
          <FormItem prop="user">
            <i-input type="text" v-model="formInline.user" placeholder="Username" class="input-form">
              <Icon type="ios-person-outline" slot="prepend"></Icon>
            </i-input>
          </FormItem>
          <FormItem prop="password" class="input-form">
            <i-input type="password" v-model="formInline.password" placeholder="Password" class="input-form">
              <Icon type="ios-lock-outline" slot="prepend"></Icon>
            </i-input>
          </FormItem>
          <FormItem prop="repassword" class="input-form">
            <i-input type="password" v-model="formInline.repassword" placeholder="RePassword" class="input-form">
              <Icon type="ios-lock-outline" slot="prepend"></Icon>
            </i-input>
          </FormItem>
          <FormItem>
            <i-button type="primary" @click="handleSubmit('formInline')" class="input-button">注册</i-button>
          </FormItem>
        </i-form>
      </div>
    </Card>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        isLogin: false,
        formInline: {
          user: '',
          password: '',
          repassword: ''
        },
        ruleInline: {
          user: [
            {required: true, message: 'Please fill in the user name', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Please fill in the password.', trigger: 'blur'},
            //{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
          ],
          repassword: [
            {required: true, message: 'Please fill in the password.', trigger: 'blur'},
            //{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
          ]
        }
      }
    },
    created() {
      //一进来就去看有没有cookie在本地
      this.checkCookies()
    },
    methods: {
      myshortlink() {
        window.location.href = '/myshortlink'
      },
      personInfo() {
        window.location.href = '/users/' + this.userphid
      },
      logout() {
        docCookies.removeItem('connect.sid');
        docCookies.removeItem('user');
        window.location.href = '/'
      },
      checkCookies() {
        if (document.cookie.indexOf('connect.sid') > -1 && document.cookie.indexOf('user') > -1) {
          this.isLogin = true
          let userPhid = document.cookie.split(';')[0].split('=')[1]
          this.userphid = userPhid
        }
      },
      login() {
        window.location.href = '/login'
      },
      register() {
        window.location.href = '/register'
      },
      handleSubmit(name) {
        //校验密码是否输入正确
        let pw = this.formInline.password
        let repw = this.formInline.repassword
        if (pw !== repw) {
          this.$Message.error({
            title: '提示',
            content: '两次密码输入不一致，请重新输入',
          })
          return;
        }

        var self = this
        axios.post('/register', {
          user: self.formInline.user,
          password: self.formInline.password
        })
            .then(function (response) {
              let data = response.data
              console.log(data)

            })
            .catch(function (error) {
              console.log(error)
            })
            .then(function () {
              // always executed
            })
      }
    }
  })
</script>
</body>

</html>
