body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

#ceil {
  height: 60px;
  border: 1px solid red;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-right: 1px solid #bbb;
  line-height: 60px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #515a6e;
}

.active {
  background-color: #4CAF50;
}


#container {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -400px;
  border: 1px solid red;
}

.title {
  line-height: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid red;
}

.title > img {
  vertical-align: middle;
  height: 48px;
}

.title > span {
  font-size: 48px;
  line-height: 48px;
  height: 48px;
  vertical-align: middle;
}

.link {
  margin-top: 60px;
  line-height: 60px;
  height: 60px;
  /* text-align: center; */
  border: 1px solid red;
}

.link-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.short-link {
  margin-top: 20px;
}
